<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cs/ui_res/MainUI/main_mid1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1853,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1853,307}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,554},{1853,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1853,170}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,310},{1853,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1853,242}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI_BG.png</string>
			<key>realTextureFileName</key>
			<string>MainUI_BG.png</string>
			<key>size</key>
			<string>{1855,725}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1855</integer>
			<key>height</key>
			<integer>725</integer>
		</dict>
	</dict>
</plist>