<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/WarUI/benlungongxianpaixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,409},{211,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/benlungongxianpaixu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,295},{212,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/bg_shouwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,295},{170,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,218}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/chengzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,278},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/dangqianguanzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,428},{104,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,22}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,78},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guanzhirenmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,535},{111,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guanzhirenmian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,572},{111,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,27}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,34},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiagonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,452},{81,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,22}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiaguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,555},{112,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiakufang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,414},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiakufang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,471},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiaxinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,447},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiaxinxi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,466},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/huangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,381},{51,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,22}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/jinrushijie.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,539},{112,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/jinrushijie_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{845,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{845,345}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/kaizhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,428},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,119}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/likaishijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,515},{173,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,39}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/quanyuanyoujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,1},{105,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/qunxiong_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,326},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/renmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,260},{52,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanghaibang.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,348},{52,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanghaipaihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,144},{104,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,29}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanglungongxianpaixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,447},{211,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanglungongxianpaixu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,352},{212,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shijierukou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,528},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shijierukou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,523},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,1},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,409},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,348},{126,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,125}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/siwang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,554},{114,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,37}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tingtianyouming.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,539},{162,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,295},{646,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,371},{577,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{577,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,409},{490,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,333},{635,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{635,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tuwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,293},{57,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,175},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tuichuguojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,549},{113,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,1},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,1},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,466},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,175},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,348},{126,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,125}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,1},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,1},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,497},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,227},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,428},{126,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,125}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/xiezhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,111},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/xiugaigonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,566},{112,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/xuanzeguojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,348},{353,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,78}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/yuanjun.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,405},{36,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,17}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/yuanjunguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,556},{110,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,28}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/zhengduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,227},{55,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/bg_yuanjun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,348},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/warshengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,504},{355,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,29}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/warshibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,585},{355,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,29}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/ketiaozhancishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,475},{242,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>WarUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>WarUI_Text.png</string>
			<key>size</key>
			<string>{2047,615}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>615</integer>
		</dict>
	</dict>
</plist>