<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lk/ui_res/WarUI/bg_c.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{428,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,205}</string>
			</dict>
			<key>lk/ui_res/WarUI/bg_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>lk/ui_res/WarUI/bg_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>lk/ui_res/WarUI/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,311},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>lk/ui_res/WarUI/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,368},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>lk/ui_res/WarUI/ID_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,368},{126,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,41}</string>
			</dict>
			<key>lk/ui_res/WarUI/1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,1},{169,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,92}</string>
			</dict>
			<key>lk/ui_res/WarUI/1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,172},{169,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,92}</string>
			</dict>
			<key>lk/ui_res/WarUI/1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,122},{169,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,92}</string>
			</dict>
			<key>lk/ui_res/WarUI/1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,171},{169,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,92}</string>
			</dict>
			<key>lk/ui_res/WarUI/2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,105},{162,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,104}</string>
			</dict>
			<key>lk/ui_res/WarUI/2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,105},{162,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,104}</string>
			</dict>
			<key>lk/ui_res/WarUI/2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,105},{162,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,104}</string>
			</dict>
			<key>lk/ui_res/WarUI/2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1761,105},{162,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,104}</string>
			</dict>
			<key>lk/ui_res/WarUI/3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,1},{168,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,102}</string>
			</dict>
			<key>lk/ui_res/WarUI/3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,1},{168,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,102}</string>
			</dict>
			<key>lk/ui_res/WarUI/3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1},{168,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,102}</string>
			</dict>
			<key>lk/ui_res/WarUI/3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,1},{168,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,102}</string>
			</dict>
			<key>lk/ui_res/WarUI/4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1},{153,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,119}</string>
			</dict>
			<key>lk/ui_res/WarUI/4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1},{153,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,119}</string>
			</dict>
			<key>lk/ui_res/WarUI/4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1},{153,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,119}</string>
			</dict>
			<key>lk/ui_res/WarUI/4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,1},{153,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,119}</string>
			</dict>
			<key>lk/ui_res/WarUI/5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{153,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,101}</string>
			</dict>
			<key>lk/ui_res/WarUI/5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,208},{153,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,101}</string>
			</dict>
			<key>lk/ui_res/WarUI/5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,208},{153,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,101}</string>
			</dict>
			<key>lk/ui_res/WarUI/5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,265},{153,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,101}</string>
			</dict>
			<key>lk/ui_res/WarUI/blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,308},{94,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,8}</string>
			</dict>
			<key>lk/ui_res/WarUI/bloodbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,208},{98,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,12}</string>
			</dict>
			<key>lk/ui_res/WarUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,171},{211,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,29}</string>
			</dict>
			<key>lk/ui_res/WarUI/cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,105},{185,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,19}</string>
			</dict>
			<key>lk/ui_res/WarUI/energy.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,171},{175,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,13}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>WarUI.png</string>
			<key>realTextureFileName</key>
			<string>WarUI.png</string>
			<key>size</key>
			<string>{2042,414}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2042</integer>
			<key>height</key>
			<integer>414</integer>
		</dict>
	</dict>
</plist>