<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tyj/ui_res/NaverLoginUI/NaverLoginButton_Green.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{578,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,114}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/NaverLoginButton_White.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{578,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,114}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/CstoreLoginBt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1},{578,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,114}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/CstoreLoginBt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{578,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,114}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/GplayLoginBt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{602,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,102}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/GplayLoginBt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,233},{602,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,102}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/GC_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,117},{578,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,114}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/GC_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,117},{578,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,114}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/NaverLogin_Green_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,233},{646,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,94}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/NaverLogin_Green_O.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,329},{646,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,94}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/NaverLogin_White_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{646,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,94}</string>
			</dict>
			<key>tyj/ui_res/NaverLoginUI/NaverLogin_White_O.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,425},{646,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NaverLoginUI.png</string>
			<key>realTextureFileName</key>
			<string>NaverLoginUI.png</string>
			<key>size</key>
			<string>{1856,520}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1856</integer>
			<key>height</key>
			<integer>520</integer>
		</dict>
	</dict>
</plist>